#display {
    width: 262px;
    height: 100px;
    font-size: 40px;
    text-align: right;
    
    border-radius: 20px;
    
    
    
    
}
.calculator{
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 42%;
    top: 22%;
    background: black;
    border-radius: 20px;
    height: 380px;
    width: 270px;
    
    
}

.one {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: rgb(80, 80, 84);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px;
}
.red {
    background-color: rgb(244, 132, 4);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px;
    
}

.blue {
    background-color: rgb(244, 132, 4);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 10px;
}
.green:hover  {
    transform: scale(1.1);
    transition: 0.2s;
    background: ghostwhite;
    color: black;
    
    
}
.red:hover  {
    transform: scale(1.1);
    transition: 0.2s;
    background: ghostwhite;
    color: black;
    
    
}
.blue:hover  {
    transform: scale(1.1);
    transition: 0.2s;
    background: ghostwhite;
    color: black;
    
    
}