* {
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
}







header {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(94, 12, 94);
    line-height: 60px;
    opacity: 0;
    scale: 100%;
    animation: fade 1s ease-in-out 0.5s forwards;

}

@keyframes fade {
    from {
        transform: translateY(-100px);
        opacity: 0;


    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

header:hover {

    animation-play-state: running;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 35, 35);
    font-size: 70px;
    line-height: 70px;
    transition: ease-in-out 0.3s;


}





.container p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(87, 87, 87);
    line-height: 30px;
    opacity: 0;
    animation: side 1s ease-in-out 0.5s forwards;

}

@keyframes side {
    from {
        transform: translateY(100px);
        opacity: 0;


    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}





.stars {
    color: #f39c12;

    font-size: 1.6rem;
}

.stars:hover {
    color: #faca09;
    cursor: pointer;
    transform: translateY(-2px);
    text-shadow: #faca09 0 0 10px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.rating-badge {
    background-color: #efebe6;
    height: 50px;
    width: 400px;
    align-items: center;
    display: flex;
    line-height: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(97, 23, 97);
    margin-left: 950px;
    margin-top: -150px;
    animation: loading 1s ease-in-out 0.3s forwards;
    opacity: 0;
}

.rating-badge-2 {
    background-color: #e9e7e4;
    height: 50px;
    width: 400px;
    align-items: center;
    display: flex;
    line-height: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(94, 12, 94);
    margin-left: 900px;
    margin-top: -150px;
    animation: loading 1s ease-in-out 0.4s forwards;
    opacity: 0;
}

.rating-badge-3 {
    background-color: #e9e7e4;
    height: 50px;
    width: 400px;
    align-items: center;
    display: flex;
    line-height: 50px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(94, 12, 94);
    margin-left: 850px;
    margin-top: -150px;
    animation: loading 1s ease-in-out 0.5s forwards;
    opacity: 0;

}

.rating-badge:hover {
    transition: ease-in-out 0.3s;
    scale: 1.05;
    box-shadow: bisque 0 0 10px;

}

.rating-badge-2:hover {
    transition: ease-in-out 0.3s;
    scale: 1.05;
    box-shadow: bisque 0 0 10px;

}

.rating-badge-3:hover {
    transition: ease-in-out 0.3s;
    scale: 1.05;
    box-shadow: bisque 0 0 10px;

}

@keyframes loading {
    from {
        transform: translateX(500px);
        opacity: 0;

    }

    to {
        transform: translateX(0);
        opacity: 1;
    }

}


.text-container {
    display: flex;
    gap: 20px;
    padding: 60px 10px;
    margin-top: 150px;
    animation: card 1s ease-in-out 0.5s forwards;
    opacity: 0;
    scale: 100%;
}

@keyframes card {
    from {
        transform: scale(40%);
        opacity: 0;


    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}


.text-card {
    background-color: #330737;
    color: white;
    margin-bottom: -100px;
    padding: 1px;
    width: 390px;
    border-radius: 14px;



}




@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-card:hover {

    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    background-color: #110647;
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    transform: scale3d(1.08, 1.08, 1.08);
}

.container p:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    color: rgb(115, 11, 127);



}



.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;


}

.user-info img:hover {
    transform: scale(1.8);
    transition: transform 0.3s ease;
    border-radius: 20px;
}



.user-info h3 {
    margin: -5px 0 0 -15px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.verified {
    margin: 0 0 0px -13px;
    font-size: 0.9rem;
    color: #d521d5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message {
    font-size: 0.95rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 575.98px) {
    .text-container {
        flex-direction: column;
        align-items: center;
    }

    .text-card {
        width: 100%;
        margin-bottom: 20px;
    }

    header {
        font-size: 40px;
        line-height: 40px;
    }

    .rating-badge,
    .rating-badge-2,
    .rating-badge-3 {

        width: 110%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1px;
        margin-bottom: 30px;
    }
}