body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;

}

.nav {
    background: #fefefe;
    padding: 10px;
    text-align: center;
    padding: 10px 0;


}

.nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
}

.title {
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 237, 138);


    padding: 20px;


}

.image {

    width: 300px;
    border-radius: 50%;
    align-items: center;
    padding-left: 50px;

}

.h3 {
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #333;
    text-decoration: underline;


}

.post1 {

    align-items: center;

    padding: 20px;
    background-color: rgb(231, 179, 188);
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 100px;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.post2 {
    text-align: center;
    font-weight: bold;
    background-color: cadetblue;
    padding: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #000;


}

.t1 {
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;

}

.a {
    text-align: left;
    font-family: serif;
}

footer {
    text-align: center;
    padding: 20px;
}

.t3 {
    text-align: center;
}

.post3 {
    background: #bdd3e0;
    padding: 20px;
    text-align: center;
}

.island2 {
    padding-left: 50px;

}

.travel {
    padding-left: 50px;
}

.t3 {
    text-decoration: underline;
    text-decoration-style: solid;
}

.meet {
    text-align: start;
}

.t4 {
    text-align: start;
}

.t5 {
    text-align: start;
}