section {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: larger;
    padding-bottom: -20px;
}

table {
    text-align: center;


    width: 30%;
    height: 60%;

    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}

td,
th {
    border: 1px solid black;
    padding: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

td {
    font-weight: bold;
}

td:hover {
    transform: translatey(-5px);
    transition: transform 0.3s ease;
    background-color: rgb(4, 124, 157);
    color: white;
    border-radius: 50px;

}



th {
    background-color: rgb(116, 5, 77);
    color: white;
}

.red {

    color: rgba(255, 29, 29, 0.949);
}